
<h1><%= @restaurant.name %></h1>

<div class="row">
  <div class="col-6">
    <p><%= @restaurant.address %></p>

    <p><%= @restaurant.category%>/5</p>
    <p><%= @restaurant.phone_number %></p>
  </div>
  <div class="col-6">
    <h2>Reviews</h2>
    <% @restaurant.reviews.each do |review| %>
      <p class="border-bottom"><%= review.content %></p>
    <% end %>
  </div>
</div>



<%= link_to 'Add a new review', new_restaurant_review_path(@restaurant)  %>
<br>

<%= link_to "Back to list", restaurants_path  %>
